智保通-智能保单管家.yml
app:
  description: 面向已承保客户的AI保单管家——保单解读、保障咨询、理赔指引、续保提醒
  icon: 💬
  icon_background: '#E3F2FD'
  icon_type: emoji
  mode: workflow
  name: 智保通-智能保单管家
  use_icon_as_answer_icon: false
dependencies:
- current_identifier: null
  type: marketplace
  value:
    marketplace_plugin_unique_identifier: langgenius/deepseek:0.0.17@f7a5c1d222d17ee419b17a80d6e4923838fe93788dc724a3af73fbc6990b3a32
    version: null
- current_identifier: null
  type: marketplace
  value:
    marketplace_plugin_unique_identifier: langgenius/tongyi:0.2.0@4e5891a2f4fff19b005a662a1fadff0e56b62b2dd1b4a93bdffae83c5b38b05e
    version: null
kind: app
version: 0.6.0
workflow:
  conversation_variables: []
  environment_variables: []
  features:
    file_upload:
      allowed_file_extensions:
      - .JPG
      - .JPEG
      - .PNG
      - .GIF
      - .WEBP
      - .SVG
      allowed_file_types:
      - image
      allowed_file_upload_methods:
      - local_file
      - remote_url
      enabled: false
      fileUploadConfig:
        attachment_image_file_size_limit: 2
        audio_file_size_limit: 50
        batch_count_limit: 5
        file_size_limit: 15
        file_upload_limit: 50
        image_file_batch_limit: 10
        image_file_size_limit: 10
        single_chunk_attachment_limit: 10
        video_file_size_limit: 100
        workflow_file_upload_limit: 10
      image:
        enabled: false
        number_limits: 3
        transfer_methods:
        - local_file
        - remote_url
      number_limits: 3
    opening_statement: ''
    retriever_resource:
      enabled: true
    sensitive_word_avoidance:
      enabled: false
    speech_to_text:
      enabled: false
    suggested_questions: []
    suggested_questions_after_answer:
      enabled: false
    text_to_speech:
      enabled: false
      language: ''
      voice: ''
  graph:
    edges:
    - data:
        isInIteration: false
        isInLoop: false
        sourceType: start
        targetType: llm
      id: 1793000000001-source-1793000000002-target
      selected: false
      source: '1793000000001'
      sourceHandle: source
      target: '1793000000002'
      targetHandle: target
      type: custom
      zIndex: 0
    - data:
        isInIteration: false
        isInLoop: false
        sourceType: llm
        targetType: knowledge-retrieval
      id: 1793000000002-source-1793000000003-target
      selected: false
      source: '1793000000002'
      sourceHandle: source
      target: '1793000000003'
      targetHandle: target
      type: custom
      zIndex: 0
    - data:
        isInIteration: false
        isInLoop: false
        sourceType: knowledge-retrieval
        targetType: llm
      id: 1793000000003-source-1793000000004-target
      selected: false
      source: '1793000000003'
      sourceHandle: source
      target: '1793000000004'
      targetHandle: target
      type: custom
      zIndex: 0
    - data:
        isInIteration: false
        isInLoop: false
        sourceType: llm
        targetType: end
      id: 1793000000004-source-1793000000005-target
      source: '1793000000004'
      sourceHandle: source
      target: '1793000000005'
      targetHandle: target
      type: custom
      zIndex: 0
    nodes:
    - data:
        selected: false
        title: 用户输入
        type: start
        variables:
        - default: ''
          hint: ''
          label: policy_inquiry
          max_length: 2000
          options: []
          placeholder: |
            请输入您的问题，例如：
            - 我的保单还有效吗？下次什么时候缴费？
            - 查出甲状腺结节，重疾险能赔吗？
            - 住院手术怎么申请理赔？需要什么材料？
            - 医疗险快到期了，怎么续保？
          required: true
          type: paragraph
          variable: policy_inquiry
      height: 108
      id: '1793000000001'
      position:
        x: 80
        y: 282
      positionAbsolute:
        x: 80
        y: 282
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 242
    - data:
        context:
          enabled: false
          variable_selector: []
        model:
          completion_params:
            temperature: 0.5
          mode: chat
          name: deepseek-v4-pro
          provider: langgenius/deepseek/deepseek
        prompt_template:
        - id: c1-sys-001
          role: system
          text: |
            你是一个保险客服意图识别与信息提取器。分析用户在保单服务场景下的意图，同时提取关键信息。

            意图分类（可同时识别多个，按优先级排列）：
            1. policy_lookup - 保单查询（保单状态、缴费时间、保额、生效日期等）
            2. coverage_inquiry - 保障咨询（某疾病/情况是否在保障范围、能赔多少、什么不赔）
            3. claim_guidance - 理赔指引（怎么理赔、需要什么材料、去哪办理、多久能赔）
            4. renewal_reminder - 续保相关（到期续保、宽限期、保费变化、忘缴费怎么办）
            5. general_inquiry - 通用咨询（不属于以上四类的保单服务问题）

            提取信息（只提取用户明确提到的，不编造）：
            - intent: 意图类型数组，如["coverage_inquiry"]
            - policy_type: 用户提到的险种（重疾险/医疗险/定期寿险/意外险）
            - health_condition: 提到的疾病/症状/健康状况
            - treatment_type: 提到的治疗方式（住院/手术/门诊/检查）
            - urgency_level: 1=一般咨询, 2=有明确健康状况, 3=投诉或紧急理赔
            - missing_info: 回答用户问题还需要但用户未提供的关键信息列表

            输出必须是合法JSON，不包含任何其他文字。
        - id: c1-usr-001
          role: user
          text: |
            用户输入：{{#1793000000001.policy_inquiry#}}

            请识别意图并提取关键信息。
        - id: c1-ast-001
          role: assistant
          text: '{

            "intent": ["'
        reasoning_format: tagged
        retry_config:
          max_retries: 3
          retry_enabled: true
          retry_interval: 500
        selected: true
        structured_output_enabled: true
        title: LLM_C1:意图识别
        type: llm
        vision:
          enabled: false
      height: 116
      id: '1793000000002'
      position:
        x: 382
        y: 291
      positionAbsolute:
        x: 382
        y: 291
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 242
    - data:
        dataset_ids:
        - PLACEHOLDER_KB_POLICY_SERVICE_REPLACE
        multiple_retrieval_config:
          reranking_enable: true
          reranking_mode: reranking_model
          reranking_model:
            model: qwen3-rerank
            provider: langgenius/tongyi/tongyi
          top_k: 6
        query_attachment_selector: []
        query_variable_selector:
        - '1793000000001'
        - policy_inquiry
        retrieval_mode: multiple
        selected: false
        title: KB:保单服务知识库
        type: knowledge-retrieval
      height: 89
      id: '1793000000003'
      position:
        x: 687
        y: 282
      positionAbsolute:
        x: 687
        y: 282
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 242
    - data:
        context:
          enabled: true
          variable_selector:
          - '1793000000003'
          - result
        model:
          completion_params:
            temperature: 0.7
          mode: chat
          name: deepseek-v4-pro
          provider: langgenius/deepseek/deepseek
        prompt_template:
        - id: c2-sys-001
          role: system
          text: |
            你是一个保险客户服务专家，精通保单解读、保障分析、理赔指引和续保咨询。根据用户意图和知识库检索结果，提供专业、清晰、友好的回复。

            回复通用规则：
            1. 使用 Markdown 格式，适当使用标题、加粗、列表
            2. 关键数字用**加粗**突出
            3. 重要提醒前加❗，温馨提醒使用 > 引用块
            4. 面向普通用户，避免法律术语堆砌，能用大白话就用大白话

            【根据意图类型调整回复策略】

            当意图为 policy_lookup（保单查询）时：
            - 先直接回答核心问题（是/否/具体数字）
            - 再展开解释条款含义和注意事项
            - 如果知识库信息不足以回答，告知用户并建议查正式保单或联系客服
            - 结尾加："如需确认具体信息，建议查阅您的正式保单或致电客服热线。"

            当意图为 coverage_inquiry（保障咨询）时：
            - 先给出明确判断：在保障范围 / 不在保障范围 / 需要进一步确认
            - 引用知识库中的具体条款作为判断依据
            - 如果在保障范围：说明赔付比例和大概金额
            - 如果不在保障范围：解释原因，说明免责条款或理赔条件不满足的具体原因
            - 如果信息不足：列出需要用户补充的信息（如具体疾病名称、治疗方式等）
            - 积极引导用户补充信息而非简单说"不确定"

            当意图为 claim_guidance（理赔指引）时：
            - 列出理赔步骤（1→2→3→4），每步说明操作方式
            - 标注📎所需材料清单和⏱时间节点
            - 给出预计处理时效（审核多久、到账多久）
            - ❗提示常见踩坑点（如保留发票、及时报案等）
            - 紧急情况优先给最简路径

            当意图为 renewal_reminder（续保相关）时：
            - 明确说明宽限期天数、复效条件和流程
            - 说明续保操作步骤（自动续保/手动续保）
            - 解释保费可能变化的原因（年龄/产品调价/理赔记录）
            - 如果用户担忧保费上涨，客观分析续保 vs 重新投保的利弊
            - 结尾提醒："建议提前办理续保，避免保障空窗。"

            当意图为 general_inquiry（通用咨询）时：
            - 直接回答用户问题
            - 如果不确定，引导用户联系客服或查阅正式文件

            信息不足时：主动追问具体信息，给出示例引导用户回答。
            与保单服务无关的问题：礼貌引导回保单服务范围。
            投诉信号：优先安抚情绪，提供客服联系方式。

            结尾加："如有其他问题，随时告诉我～"
            涉及条款解读时加："以上解读基于通用条款，具体以您的正式保单为准。"
        - id: c2-usr-001
          role: user
          text: |
            用户输入：{{#1793000000001.policy_inquiry#}}

            用户意图（LLM_C1识别结果）：{{#1793000000002.text#}}

            知识库检索到的相关信息：
            {{#context#}}

            请根据用户意图，选择合适的回复策略，生成专业友好的回复。
        selected: false
        structured_output_enabled: false
        title: LLM_C2:统一保单服务
        type: llm
        vision:
          enabled: false
      height: 87
      id: '1793000000004'
      position:
        x: 988
        y: 282
      positionAbsolute:
        x: 988
        y: 282
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 242
    - data:
        outputs:
        - value_selector:
          - '1793000000004'
          - text
          value_type: string
          variable: OUTPUT
        selected: false
        title: 输出
        type: end
      height: 87
      id: '1793000000005'
      position:
        x: 1290
        y: 282
      positionAbsolute:
        x: 1290
        y: 282
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 242
    viewport:
      x: 0
      y: 0
      zoom: 0.8
  rag_pipeline_variables: []
