智保通-多Agent核保引擎.yml
app:
  description: 基于多Agent协同的智能核保决策工作流
  icon: 🤖
  icon_background: '#FFEAD5'
  icon_type: emoji
  mode: workflow
  name: 智保通-多Agent核保引擎
  use_icon_as_answer_icon: false
dependencies:
- current_identifier: null
  type: marketplace
  value:
    marketplace_plugin_unique_identifier: langgenius/deepseek:0.0.17@f7a5c1d222d17ee419b17a80d6e4923838fe93788dc724a3af73fbc6990b3a32
    version: null
- current_identifier: null
  type: marketplace
  value:
    marketplace_plugin_unique_identifier: langgenius/tongyi:0.2.0@4e5891a2f4fff19b005a662a1fadff0e56b62b2dd1b4a93bdffae83c5b38b05e
    version: null
kind: app
version: 0.6.0
workflow:
  conversation_variables: []
  environment_variables: []
  features:
    file_upload:
      allowed_file_extensions:
      - .JPG
      - .JPEG
      - .PNG
      - .GIF
      - .WEBP
      - .SVG
      allowed_file_types:
      - image
      allowed_file_upload_methods:
      - local_file
      - remote_url
      enabled: false
      fileUploadConfig:
        attachment_image_file_size_limit: 2
        audio_file_size_limit: 50
        batch_count_limit: 5
        file_size_limit: 15
        file_upload_limit: 50
        image_file_batch_limit: 10
        image_file_size_limit: 10
        single_chunk_attachment_limit: 10
        video_file_size_limit: 100
        workflow_file_upload_limit: 10
      image:
        enabled: false
        number_limits: 3
        transfer_methods:
        - local_file
        - remote_url
      number_limits: 3
    opening_statement: ''
    retriever_resource:
      enabled: true
    sensitive_word_avoidance:
      enabled: false
    speech_to_text:
      enabled: false
    suggested_questions: []
    suggested_questions_after_answer:
      enabled: false
    text_to_speech:
      enabled: false
      language: ''
      voice: ''
  graph:
    edges:
    - data:
        isInIteration: false
        isInLoop: false
        sourceType: start
        targetType: llm
      id: 1781180506228-source-1781180529966-target
      selected: false
      source: '1781180506228'
      sourceHandle: source
      target: '1781180529966'
      targetHandle: target
      type: custom
      zIndex: 0
    - data:
        isInIteration: false
        isInLoop: false
        sourceType: llm
        targetType: code
      id: 1781180529966-source-1781181159003-target
      selected: false
      source: '1781180529966'
      sourceHandle: source
      target: '1781181159003'
      targetHandle: target
      type: custom
      zIndex: 0
    - data:
        isInIteration: false
        isInLoop: false
        sourceType: code
        targetType: knowledge-retrieval
      id: 1781181159003-source-1781181345540-target
      selected: false
      source: '1781181159003'
      sourceHandle: source
      target: '1781181345540'
      targetHandle: target
      type: custom
      zIndex: 0
    - data:
        isInIteration: false
        isInLoop: false
        sourceType: knowledge-retrieval
        targetType: llm
      id: 1781181345540-source-1781181506426-target
      selected: false
      source: '1781181345540'
      sourceHandle: source
      target: '1781181506426'
      targetHandle: target
      type: custom
      zIndex: 0
    - data:
        isInIteration: false
        isInLoop: false
        sourceType: llm
        targetType: code
      id: 1781181786412-source-1781181926075-target
      selected: false
      source: '1781181786412'
      sourceHandle: source
      target: '1781181926075'
      targetHandle: target
      type: custom
      zIndex: 0
    - data:
        isInIteration: false
        isInLoop: false
        sourceType: code
        targetType: llm
      id: 1781181926075-source-1781182024510-target
      selected: false
      source: '1781181926075'
      sourceHandle: source
      target: '1781182024510'
      targetHandle: target
      type: custom
      zIndex: 0
    - data:
        isInIteration: false
        isInLoop: false
        sourceType: llm
        targetType: llm
      id: 1781182024510-source-1781182234161-target
      selected: false
      source: '1781182024510'
      sourceHandle: source
      target: '1781182234161'
      targetHandle: target
      type: custom
      zIndex: 0
    - data:
        isInLoop: false
        sourceType: knowledge-retrieval
        targetType: llm
      id: 1781181345540-source-1781181786412-target
      selected: false
      source: '1781181345540'
      sourceHandle: source
      target: '1781181786412'
      targetHandle: target
      type: custom
      zIndex: 0
    - data:
        isInLoop: false
        sourceType: llm
        targetType: code
      id: 1781181506426-source-1781181926075-target
      source: '1781181506426'
      sourceHandle: source
      target: '1781181926075'
      targetHandle: target
      type: custom
      zIndex: 0
    - data:
        isInIteration: false
        isInLoop: false
        sourceType: llm
        targetType: end
      id: 1781182234161-source-1781182527024-target
      source: '1781182234161'
      sourceHandle: source
      target: '1781182527024'
      targetHandle: target
      type: custom
      zIndex: 0
    nodes:
    - data:
        selected: false
        title: 用户输入
        type: start
        variables:
        - default: '0'
          hint: ''
          label: INSURE_inquiry
          max_length: 256
          options: []
          placeholder: ''
          required: true
          type: text-input
          variable: INSURE_inquiry
        - default: ''
          hint: '可选：粘贴来自模块A的product_definition_json，核保时将基于该产品的参数进行精准核保。留空则使用通用核保规则。'
          label: product_context_json
          max_length: 5000
          options: []
          placeholder: ''
          required: false
          type: paragraph
          variable: product_context_json
      height: 108
      id: '1781180506228'
      position:
        x: 80
        y: 282
      positionAbsolute:
        x: 80
        y: 282
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 242
    - data:
        context:
          enabled: false
          variable_selector: []
        model:
          completion_params:
            temperature: 0.7
          mode: chat
          name: deepseek-v4-pro
          provider: langgenius/deepseek/deepseek
        prompt_template:
        - id: 0cda0c7d-d4eb-4fb8-91e3-ce242cc9bdc3
          role: system
          text: '你是一个保险信息提取器。你的唯一任务是从用户输入中提取投保所需的结构化字段。不做任何判断、不计算、不给建议。



            提取字段及规则：

            - age: 年龄数字（整数），未提及填"未知"

            - gender: 男/女，未提及填"未知"

            - occupation: 具体职业名称，如"程序员""教师""外卖骑手"

            - insurance_type: 重疾险/医疗险/定期寿险/意外险，未提及填"未知"

            - coverage_amount: 保额（保留数字+单位，如"50万"），未提及填"未知"

            - health_notes: 用户提到的所有健康状况，如"高血压""甲状腺结节"，无异常填"无异常"

            - smoking: 有/无，未提及填"未知"

            - bmi: 如用户提供了身高体重则计算（体重kg÷身高m²，保留一位小数），否则填"未知"

            - product_context_used: true/false，表示本次输入是否包含产品上下文



            如果输入中包含产品上下文（product_context_json），请附带提取以下产品关键字段：

            - product_code: 产品代码

            - product_waiting_period: 产品等待期天数

            - product_sum_insured_max: 产品保额上限



            输出必须是合法JSON，不包含任何其他文字。'
        - id: a4d74dae-59c0-4199-ba7a-a5987d8e86ff
          role: user
          text: '请从以下用户输入中提取投保信息：



            用户输入:{{#1781180506228.INSURE_inquiry#}}



            产品上下文（如已提供）:{{#1781180506228.product_context_json#}}

            '
        - id: 322c4234-8a22-456e-bd1d-f4055116aa2d
          role: assistant
          text: '{

              "age":'
        reasoning_format: tagged
        retry_config:
          max_retries: 3
          retry_enabled: true
          retry_interval: 1000
        selected: true
        structured_output_enabled: true
        title: LLM1:信息提取
        type: llm
        vision:
          enabled: false
      height: 116
      id: '1781180529966'
      position:
        x: 382
        y: 291.2365553754102
      positionAbsolute:
        x: 382
        y: 291.2365553754102
      selected: true
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 242
    - data:
        code: "import json\nimport re\n\ndef main(extracted_json: str) -> dict:\n\
          \    \"\"\"\n    从LLM提取的JSON中构造精准的知识库查询语句\n    解决之前用原始自然语言查询匹配度低的问题\n  \
          \  \"\"\"\n    # 清洗可能的 <think> 标签\n    if isinstance(extracted_json, str):\n\
          \        extracted_json = re.sub(r\"<think>.*?</think>\", \"\", extracted_json,\
          \ flags=re.DOTALL).strip()\n        try:\n            data = json.loads(extracted_json)\n\
          \        except:\n            data = {}\n    else:\n        data = extracted_json\
          \ if isinstance(extracted_json, dict) else {}\n    \n    occupation = data.get(\"\
          occupation\", \"\")\n    insurance_type = data.get(\"insurance_type\", \"\
          \")\n    health_notes = data.get(\"health_notes\", \"\")\n    age = data.get(\"\
          age\", \"\")\n    smoking = data.get(\"smoking\", \"\")\n    bmi = data.get(\"\
          bmi\", \"\")\n    \n    # 构造精准查询：将关键字段拼接成语义查询\n    query_parts = []\n  \
          \  \n    if occupation and occupation != \"未知\":\n        query_parts.append(f\"\
          职业：{occupation}，职业风险等级与费率调整\")\n    \n    if insurance_type and insurance_type\
          \ != \"未知\":\n        query_parts.append(f\"险种：{insurance_type}，核保规则与要点\"\
          )\n    \n    if health_notes and health_notes != \"无异常\" and health_notes\
          \ != \"未知\":\n        query_parts.append(f\"健康状况：{health_notes}，核保规则与加费标准\"\
          )\n    \n    if smoking == \"有\":\n        query_parts.append(\"吸烟核保规则，加费15%\"\
          )\n    \n    if bmi and bmi != \"未知\":\n        query_parts.append(f\"BMI体重指数核保规则\"\
          )\n    \n    # 始终查询年龄系数\n    if age and age != \"未知\":\n        query_parts.append(f\"\
          年龄{age}岁对应的风险系数\")\n    else:\n        query_parts.append(\"年龄风险系数表\")\n\
          \    \n    search_query = \"；\".join(query_parts) if query_parts else \"\
          核保规则综合查询\"\n    \n    return {\n        \"search_query\": search_query,\n\
          \        \"user_data\": data\n    }"
        code_language: python3
        outputs:
          search_query:
            children: null
            type: string
          user_data:
            children: null
            type: object
        selected: false
        title: 代码执行:查询构造器
        type: code
        variables:
        - value_selector:
          - '1781180529966'
          - text
          value_type: string
          variable: extracted_json
      height: 51
      id: '1781181159003'
      position:
        x: 686.6390158215459
        y: 282
      positionAbsolute:
        x: 686.6390158215459
        y: 282
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 242
    - data:
        dataset_ids:
        - 2qj5EH5VIH2PGNjsE7T/tn9RE547pUf7Luy0xYdyDMy9iq++SJSu8Q4SZFEqDWcF
        multiple_retrieval_config:
          reranking_enable: true
          reranking_mode: reranking_model
          reranking_model:
            model: qwen3-rerank
            provider: langgenius/tongyi/tongyi
          top_k: 8
        query_attachment_selector: []
        query_variable_selector:
        - '1781181159003'
        - search_query
        retrieval_mode: multiple
        selected: false
        title: 知识检索
        type: knowledge-retrieval
      height: 89
      id: '1781181345540'
      position:
        x: 988
        y: 282
      positionAbsolute:
        x: 988
        y: 282
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 242
    - data:
        context:
          enabled: true
          variable_selector:
          - '1781181345540'
          - result
        model:
          completion_params:
            temperature: 0.7
          mode: chat
          name: deepseek-v4-pro
          provider: langgenius/deepseek/deepseek
        prompt_template:
        - id: 71d67150-c689-4012-a08a-1d41aaa02492
          role: system
          text: '你是一个保险职业风险评估专家。你的唯一职责是从知识库检索结果中，找到与用户职业匹配的风险等级和费率调整规则。



            规则：

            1. 从知识库检索结果中精确匹配用户的职业名称

            2. 如果知识库中有明确匹配，输出匹配的等级和加费比例

            3. 如果知识库无精确匹配，根据相近职业推断，并标注"推断"

            4. 优先使用知识库规则；若知识库无精确匹配，按以下通用标准评估：

            通用职业风险等级标准（加费比例）：
            - 1级+0%（室内办公）：程序员、文员、教师、学生、行政、会计、设计师、产品经理、客服、人事、财务、律师、退休人员
            - 2级+0%（轻度外勤）：销售员、店员、外卖骑手、快递员、网约车司机、出租车司机、导游、家政人员、物业管理员
            - 3级+10%（体力劳动/一定危险）：建筑工人、装修工人、水电工、电焊工、机械操作工、化工厂操作工、矿工地面、货车司机、农民、渔民近海、垃圾清运工
            - 4级+20-30%（高风险）：高空作业、塔吊司机、架子工、爆破工、矿井下、深海渔民、消防员一线、刑警、特警、职业运动员
            - 5级+50-100%（极高风险）：试飞员、深海潜水员、拆弹专家、战地记者、远洋船员、私人保镖、赛车手
            - 6级拒保：雇佣兵、无安全保障高危作业



            输出必须是合法JSON，不包含任何其他文字。'
        - id: 097be436-90ec-4bde-b4a8-2e88bf971691
          role: user
          text: '用户职业：{{#1781181159003.user_data.occupation#}}

            用户险种：{{#1781181159003.user_data.insurance_type#}}



            知识库检索到的职业规则：

            {{#context#}}



            请评估该用户的职业风险等级和费率调整。'
        - id: 2c269e13-9d8f-4713-98fe-de0813c89e77
          role: assistant
          text: '{

              "agent": "职业风险评估",

              "occupation":'
        selected: false
        structured_output_enabled: true
        title: LLM2:职业风险评估
        type: llm
        vision:
          enabled: false
      height: 87
      id: '1781181506426'
      position:
        x: 1290
        y: 282
      positionAbsolute:
        x: 1290
        y: 282
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 242
    - data:
        context:
          enabled: true
          variable_selector:
          - '1781181345540'
          - result
        model:
          completion_params:
            temperature: 0.7
          mode: chat
          name: deepseek-v4-pro
          provider: langgenius/deepseek/deepseek
        prompt_template:
        - id: 98c1c56a-4d7c-490b-b1f3-62fa50d0a603
          role: system
          text: '你是一个保险健康风险评估专家。你的唯一任务是从知识库检索结果和用户健康信息中，匹配健康核保规则并给出评估结论。



            规则：

            1. 逐条匹配用户的健康状况与知识库中的核保规则

            2. 多项健康异常时取最严重的结论

            3. 严重程度排序：拒保 > 延期 > 加费 > 限额 > 标体

            4. 给出每种健康异常的加费比例（如适用）

            5. 优先使用知识库规则；若知识库无精确匹配，按以下通用规则评估：

            通用健康核保规则（知识库无匹配时使用）：
            - 高血压（服药控制，血压稳定）：加费20%
            - 高血压（未治疗或控制不佳）：加费40%
            - 高血压（≥180/110，3级）：拒保
            - 糖尿病（2型，口服药控制，无并发症）：加费50%
            - 糖尿病（合并心/脑/肾并发症）：拒保
            - BMI 24.0-27.9（超重）：加费15%
            - BMI 28.0-31.9（肥胖）：加费30%
            - BMI 32.0-39.9（重度肥胖）：加费50%
            - BMI ≥40.0（病态肥胖）：拒保
            - 吸烟：加费15%
            - 重度吸烟（每天≥20支，烟龄≥10年）：加费30%
            - 高血脂（轻度）：加费10%
            - 高血脂（中重度）：加费20-40%
            - 甲状腺结节（TI-RADS 3级）：加费20%
            - 脂肪肝（轻度无肝功能异常）：加费10%
            - 脂肪肝（中重度）：加费25-50%
            - 痛风（偶发，尿酸控制良好）：加费15%
            - 轻度贫血（Hb 90-110g/L）：加费15%



            输出必须是合法JSON，不包含任何其他文字。'
        - id: 9b318435-e9a9-4ca2-8e8f-63c45fcdb9d5
          role: user
          text: '用户健康状况：{{#1781181159003.user_data.health_notes#}}

            用户BMI：{{#1781181159003.user_data.bmi#}}

            用户吸烟：{{#1781181159003.user_data.smoking#}}

            用户年龄：{{#1781181159003.user_data.age#}}

            用户险种：{{#1781181159003.user_data.insurance_type#}}



            知识库检索到的健康核保规则：

            {{#context#}}



            请评估该用户的健康风险等级和费率调整。

            '
        - id: 12a6df0f-eb59-4da1-8aa8-c30837b38ecf
          role: assistant
          text: '{

              "agent": "健康风险评估",

              "findings":'
        selected: false
        structured_output_enabled: true
        title: LLM3:健康风险评估
        type: llm
        vision:
          enabled: false
      height: 87
      id: '1781181786412'
      position:
        x: 1405.7021794546297
        y: 36.504741150493174
      positionAbsolute:
        x: 1405.7021794546297
        y: 36.504741150493174
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 242
    - data:
        code: "import json\nimport re\nfrom typing import Union\n\ndef safe_parse(raw)\
          \ -> dict:\n    \"\"\"安全解析LLM输出的JSON（清洗think标签）\"\"\"\n    if raw is None:\n\
          \        return {}\n    if isinstance(raw, dict):\n        return raw\n\
          \    if isinstance(raw, str):\n        raw = re.sub(r\"<think>.*?</think>\"\
          , \"\", raw, flags=re.DOTALL).strip()\n        # 提取第一个JSON对象\n        start\
          \ = raw.find(\"{\")\n        end = raw.rfind(\"}\") + 1\n        if start\
          \ >= 0 and end > start:\n            try:\n                return json.loads(raw[start:end])\n\
          \            except:\n                pass\n    return {}\n\ndef extract_age_coefficient(age:\
          \ int) -> float:\n    \"\"\"年龄风险系数\"\"\"\n    if age <= 17:\n        return\
          \ 0.8\n    elif age <= 40:\n        return 1.0\n    elif age <= 55:\n  \
          \      return 1.3\n    elif age <= 65:\n        return 1.6\n    else:\n\
          \        return 2.0\n\ndef extract_smoking_coefficient(smoking: str) ->\
          \ float:\n    \"\"\"吸烟风险系数\"\"\"\n    if smoking == \"有\":\n        return\
          \ 1.15\n    return 1.0\n\ndef extract_occupation_adjustment(occ_risk: dict)\
          \ -> float:\n    \"\"\"从职业风险评估结果中提取加费比例（小数形式）\"\"\"\n    adjustment_str\
          \ = str(occ_risk.get(\"adjustment\", \"0%\"))\n    # 优先取数字部分\n    nums =\
          \ re.findall(r\"[\\d.]+\", adjustment_str)\n    if nums:\n        return\
          \ float(nums[0]) / 100.0\n    return 0.0\n\ndef extract_health_adjustment(health_risk:\
          \ dict) -> float:\n    \"\"\"从健康风险评估结果中提取加费比例\"\"\"\n    adjustment_str\
          \ = str(health_risk.get(\"adjustment\", \"0%\"))\n    nums = re.findall(r\"\
          [\\d.]+\", adjustment_str)\n    if nums:\n        return float(nums[0])\
          \ / 100.0\n    return 0.0\n\ndef main(occupation_risk_json: Union[str, dict],\
          \ health_risk_json: Union[str, dict], user_data: Union[str, dict],\
          \ product_context_json: str = \"\") -> dict:\n\
          \    \"\"\"定价计算引擎（支持产品上下文联动）\"\"\"\n    # 安全解析所有输入\n    occ = safe_parse(occupation_risk_json)\n\
          \    health = safe_parse(health_risk_json)\n    user = safe_parse(user_data)\n\
          \    product_ctx = safe_parse(product_context_json) if product_context_json else {}\n\
          \    \n    # 提取用户信息\n    age_raw = user.get(\"age\", 30)\n    try:\n   \
          \     age = int(age_raw)\n    except:\n        age = 30\n    \n    gender\
          \ = user.get(\"gender\", \"男\")\n    ins_type = user.get(\"insurance_type\"\
          , \"重疾险\")\n    \n    coverage_raw = user.get(\"coverage_amount\", \"50万\"\
          )\n    coverage_raw_str = str(coverage_raw)\n    coverage_digits = ''.join(c for c in coverage_raw_str if c.isdigit())\n    if coverage_digits:\n        coverage_num = float(coverage_digits)\n        if \"万\" in coverage_raw_str:\n            coverage_num *= 10000\n    else:\n        coverage_num = 500000\n\
          \    coverage_in_10k = coverage_num / 100000\n    \n    # 基准费率表（元/年/10万保额）\n\
          \    base_rate_table = {\n        \"重疾险\": {\n            \"male\": {18:\
          \ 800, 30: 1200, 40: 2200, 50: 4200, 60: 7800},\n            \"female\"\
          : {18: 720, 30: 1080, 40: 1980, 50: 3780, 60: 7000}\n        },\n      \
          \  \"医疗险\": {\n            \"male\": {18: 350, 30: 500, 40: 900, 50: 1800,\
          \ 60: 3200},\n            \"female\": {18: 320, 30: 460, 40: 820, 50: 1650,\
          \ 60: 2900}\n        },\n        \"定期寿险\": {\n            \"male\": {18:\
          \ 400, 30: 650, 40: 1200, 50: 2800, 60: 5500},\n            \"female\":\
          \ {18: 360, 30: 580, 40: 1080, 50: 2500, 60: 4800}\n        },\n       \
          \ \"意外险\": {\n            \"male\": {18: 120, 30: 150, 40: 200, 50: 300,\
          \ 60: 500},\n            \"female\": {18: 120, 30: 150, 40: 200, 50: 300,\
          \ 60: 500}\n        }\n    }\n    \n    # 查找基准费率\n    default_table = base_rate_table.get(ins_type,\
          \ base_rate_table[\"重疾险\"])\n    gender_key = \"female\" if gender == \"\
          女\" else \"male\"\n    age_brackets = sorted(default_table[gender_key].keys())\n\
          \    nearest_age = min(age_brackets, key=lambda x: abs(x - age))\n    base_rate\
          \ = default_table[gender_key][nearest_age]\n    \n    # 计算风险系数\n    occ_adj\
          \ = extract_occupation_adjustment(occ)\n    health_adj = extract_health_adjustment(health)\n\
          \    age_coeff = extract_age_coefficient(age)\n    smoking_coeff = extract_smoking_coefficient(user.get(\"\
          smoking\", \"未知\"))\n    \n    # 综合风险系数\n    if occ_adj == 0 and health_adj\
          \ == 0:\n        comprehensive_coeff = 1.0 * age_coeff * smoking_coeff\n\
          \    else:\n        comprehensive_coeff = (1.0 + occ_adj + health_adj) *\
          \ age_coeff * smoking_coeff\n    \n    comprehensive_coeff = round(comprehensive_coeff,\
          \ 3)\n    \n    # 计算保费\n    base_premium = base_rate * coverage_in_10k\n\
          \    total_premium = base_premium * comprehensive_coeff\n    surcharge =\
          \ total_premium - base_premium\n    \n    # 产品上下文联动：验证保额和费率是否在产品定义范围内\n    product_warnings = []\n    if product_ctx:\n        si_range = product_ctx.get(\"sum_insured_range\", {})\n        if isinstance(si_range, dict):\n            prod_max = si_range.get(\"max\")\n            if prod_max:\n                try:\n                    prod_max_str = str(prod_max)\n                    prod_digits = ''.join(c for c in prod_max_str if c.isdigit())\n                    if prod_digits:\n                        prod_max_num = float(prod_digits)\n                        if \"万\" in prod_max_str:\n                            prod_max_num *= 10000\n                        if coverage_num > prod_max_num:\n                            product_warnings.append(f\"保额{coverage_num}元超过产品上限{prod_max_num}元，需风控审批\")\n                except:\n                    pass\n        prod_benchmark = product_ctx.get(\"premium_benchmark\", {})\n        if prod_benchmark:\n            result[\"product_benchmark\"] = prod_benchmark\n    \n    result = {\n        \"base_rate\"\
          : base_rate,\n        \"base_rate_unit\": \"元/年/10万保额\",\n        \"age_bracket\"\
          : nearest_age,\n        \"coverage_10k\": coverage_in_10k,\n        \"occupation_adjustment\"\
          : round(occ_adj * 100, 1),\n        \"health_adjustment\": round(health_adj\
          \ * 100, 1),\n        \"age_coefficient\": age_coeff,\n        \"smoking_coefficient\"\
          : smoking_coeff,\n        \"comprehensive_risk_coefficient\": comprehensive_coeff,\n\
          \        \"base_annual_premium\": round(base_premium, 2),\n        \"risk_surcharge\"\
          : round(surcharge, 2),\n        \"total_annual_premium\": round(total_premium,\
          \ 2),\n        \"monthly_premium\": round(total_premium / 12, 2),\n        \"product_warnings\": product_warnings if product_ctx else []\n    }\n    return {\"result\": json.dumps(result, ensure_ascii=False)}"
        code_language: python3
        outputs:
          result:
            children: null
            type: string
        selected: false
        title: 代码执行:定价计算
        type: code
        variables:
        - value_selector:
          - '1781181506426'
          - text
          value_type: string
          variable: occupation_risk_json
        - value_selector:
          - '1781181786412'
          - text
          value_type: string
          variable: health_risk_json
        - value_selector:
          - '1781181159003'
          - user_data
          value_type: string
          variable: user_data
        - value_selector:
          - '1781180506228'
          - product_context_json
          value_type: string
          variable: product_context_json
      height: 51
      id: '1781181926075'
      position:
        x: 1894
        y: 282
      positionAbsolute:
        x: 1894
        y: 282
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 242
    - data:
        context:
          enabled: false
          variable_selector: []
        model:
          completion_params:
            temperature: 0.7
          mode: chat
          name: deepseek-v4-pro
          provider: langgenius/deepseek/deepseek
        prompt_template:
        - id: 76029821-f7ba-4081-96c6-7f1a5f6cd76b
          role: system
          text: '你是一个保险核保决策官。你的任务是综合职业风险评估、健康风险评估和定价结果，做出最终核保决定。



            决策四档标准：



            标准体（正常承保）：

            - 综合风险系数 ≤ 1.0 且 职业风险等级 ≤ 2 且 健康风险为"标准"

            - 按标准费率承保，无附加条件



            次标准体（加费/限额承保）：

            - 综合风险系数 1.01-1.5，或存在单一可逆健康风险

            - 必须给出具体的加费比例或限额方案



            延期体（延期处理）：

            - 健康异常暂无法评估，预计3-6个月内可改善

            - 必须给出延期时长（3个月/6个月/1年）和后续建议



            拒保体（拒绝承保）：

            - 综合风险系数 > 1.5，或存在明确的拒保指征

            - 必须给出拒保具体理由和替代险种建议



            输出必须是合法JSON，不包含任何其他文字。'
        - id: 13ec3b32-fbed-4146-8e00-3be9dbc196cc
          role: user
          text: '请基于以下各Agent的评估结果，做出核保决策：



            用户基本信息：{{#1781181159003.user_data#}}



            职业风险评估：{{#1781181506426.text#}}



            健康风险评估：{{#1781181786412.text#}}



            定价计算结果：{{#1781181926075.result#}}



            请输出最终核保决策。'
        - id: 50de5b15-6982-4c3c-82d3-b8a922d89a9b
          role: assistant
          text: '{

              "decision": "'
        selected: false
        structured_output_enabled: true
        title: LLM 4:决策汇总
        type: llm
        vision:
          enabled: false
      height: 87
      id: '1781182024510'
      position:
        x: 2195.4075972284045
        y: 282
      positionAbsolute:
        x: 2195.4075972284045
        y: 282
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 242
    - data:
        context:
          enabled: false
          variable_selector: []
        model:
          completion_params:
            temperature: 0.7
          mode: chat
          name: deepseek-v4-pro
          provider: langgenius/deepseek/deepseek
        prompt_template:
        - id: 928ddce4-f41b-42ed-a39c-29d2e78244a0
          role: system
          text: '你是一个保险核保报告生成器。你的任务是将前置节点的结构化结果转化为一份面向用户的可读报告。



            报告规则：

            1. 面向普通用户，避免技术术语，能用大白话就用大白话

            2. 所有数字和结论必须来自输入数据，不得编造

            3. 使用 Markdown 格式输出

            4. 风险提示要醒目但不制造恐慌

            5. 结尾必须包含免责声明



            报告模板结构：

            1. 投保信息摘要（表格形式）

            2. 风险评估详情（分职业风险、健康风险、年龄因素，含风险系数）

            3. 费率试算（表格形式，含基准保费、风险加费、最终保费）

            4. 核保结论（结论标题醒目，含结论说明、承保条件、建议）

            5. 免责声明'
        - id: f4593b5b-cb71-4b07-af18-1470cfe5358f
          role: user
          text: '请根据以下各节点的分析结果，生成一份完整的核保决策报告：



            【投保信息】{{#1781181159003.user_data#}}



            【职业风险评估】{{{#1781181506426.text#}}



            【健康风险评估】{{{#1781181786412.text#}}



            【费率试算】{{{#1781181926075.result#}}



            【核保结论】{{{#1781182024510.text#}}



            请按模板结构生成报告。'
        selected: false
        structured_output_enabled: true
        title: LLM 5:报告生成
        type: llm
        vision:
          enabled: false
      height: 87
      id: '1781182234161'
      position:
        x: 2498
        y: 282
      positionAbsolute:
        x: 2498
        y: 282
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 242
    - data:
        outputs:
        - value_selector:
          - '1781182234161'
          - text
          value_type: string
          variable: OUTPUT
        selected: false
        title: 输出
        type: end
      height: 87
      id: '1781182527024'
      position:
        x: 2800
        y: 282
      positionAbsolute:
        x: 2800
        y: 282
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 242
    viewport:
      x: 150.92408197956422
      y: 19.958577899026125
      zoom: 0.7578582832551997
  rag_pipeline_variables: []
